.top_search_input {
    font-family: Droid Sans;
    color: #8f8f8f;
    font-size: 11px;
    text-shadow: 0 1px 0 #FFFFFF;
    display: inline-block;
    line-height: 20px;
    padding: 0 3px;
    border: 1px solid #dadada;
    border-radius: 6px;
    box-shadow: inset 0 0 2px rgba(0, 0, 0, 0.1), 0 1px 0 rgba(255, 255, 255, 0.71);
    height: 25px;
    width: 180px;
}

#search {
    cursor: pointer;
    padding: 2%;
}

.widget_header {
    background: linear-gradient(to bottom, #ffffff 0%,#f5f5f5 100%);
    height: 38px;
    line-height: 38px;
    border: 1px solid #C9C9C9;
    border-bottom-width: 0;
    border-radius: 3px 3px 0 0;
    box-shadow: inset 0 1px 0 #ffffff;
    padding: 0 15px;
}

.login_body {
    margin-top: 30%;
    background: linear-gradient(to bottom, #ffffff 0%,#f5f5f5 100%);
    height: 450px;
    line-height: 38px;
    border: 1px solid #C9C9C9;
    border-radius: 3px;
    box-shadow: inset 0 1px 0 #ffffff;
    padding: 0 15px;
}

.wwIcon {
    background-position: 0 13px;
    padding-left: 25px;
}

.widget_header_title, .ui-dialog-title {
    float: left;
}

.widget_header_title, .w_Tabs, .ui-dialog-title {
    color: #9a9a9a;
    font-family: Oswald;
    font-size: 14px;
    text-shadow: 0 1px 0 #FFFFFF;
    font-weight: normal;
}

.i_req {
    background: url("/Image/Icons/i_16_tooltip.png") no-repeat scroll transparent;
}

.i_dis {
    background: url("/Image/Icons/i_16_pie.png") no-repeat scroll transparent;
}

.i_req_his {
    background: url("/Image/Icons/i_16_history.png") no-repeat scroll transparent;
}

.line_grid {
    border-top: 1px solid #ffffff;
    border: 1px solid #dadada;
    height: 225px;
}

.separator {
    background-clip: content-box;
    background: url("../Image/separator_line.png") repeat-x scroll 0 14px transparent;
}

    .separator > span {
        display: block;
        width: 60px;
        height: 20px;
        margin: 0 auto;
        padding: 14px 10px;
        background: url("../Image/separator_circle.png") no-repeat scroll center center #F9F9F9;
    }

.g_12 {
    width: 100%;
    float: left;
    border: 10px solid rgba(0,0,0,0);
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    position: relative;
}

.widget_contents.noPadding {
    padding: 0;
    overflow: hidden;
}

.widget_contents, .dialog {
    background-color: #FDFDFD;
    border: 1px solid #C9C9C9;
    border-radius: 0 0 3px 3px;
    box-shadow: inset 0 1px 0 #ffffff;
    padding: 15px;
}

.dtBottom, .ui-dialog-buttonpane {
    padding: 0 15px;
    height: 50px;
    line-height: 50px;
    border-top: 1px solid #C9C9C9;
    background: #fdfdfd;
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJod…EiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
    background: -moz-linear-gradient(top, #fdfdfd 0%, #f4f4f4 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fdfdfd), color-stop(100%,#f4f4f4));
    background: -webkit-linear-gradient(top, #fdfdfd 0%,#f4f4f4 100%);
    background: -o-linear-gradient(top, #fdfdfd 0%,#f4f4f4 100%);
    background: -ms-linear-gradient(top, #fdfdfd 0%,#f4f4f4 100%);
    background: linear-gradient(to bottom, #fdfdfd 0%,#f4f4f4 100%);
    -webkit-box-shadow: inset 0 1px 0 #ffffff, 0 -2px 3px #E6E6E6;
    box-shadow: inset 0 1px 0 #ffffff, 0 -2px 3px #E6E6E6;
}

.dtInfo, .dtPagination {
    font-family: Droid Sans;
    color: #8f8f8f;
    font-size: 13px;
    text-shadow: 0 1px 0 #FFFFFF;
}

.dtPagination {
    float: right;
}

    .simple_buttons, .dtPagination a, .selector {
        display: inline-block;
        background: #fcfcfc;
        background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJod…EiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
        background: -moz-linear-gradient(top, #fcfcfc 0%, #f2f2f2 100%);
        background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fcfcfc), color-stop(100%,#f2f2f2));
        background: -webkit-linear-gradient(top, #fcfcfc 0%,#f2f2f2 100%);
        background: -o-linear-gradient(top, #fcfcfc 0%,#f2f2f2 100%);
        background: -ms-linear-gradient(top, #fcfcfc 0%,#f2f2f2 100%);
        background: linear-gradient(to bottom, #fcfcfc 0%,#f2f2f2 100%);
        border: 1px solid #CBCBCB;
        border-radius: 3px;
        height: 26px;
        line-height: 26px;
        box-shadow: 0 1px 0 #ffffff, 0 1px 0 #ffffff inset;
        font-family: Oswald;
        color: #8f8f8f;
        font-size: 12px;
        text-shadow: 0 1px 0 #FFFFFF;
        box-shadow: 0 2px 3px #EAEAEA;
        cursor: pointer;
    }

    .dtPagination a {
        padding: 0 10px;
        margin: 12px 4px 0;
        cursor: pointer;
        text-decoration: none;
        outline: none;
    }

        .dtPagination a:hover {
            background: #fdfdfd;
        }

        .dtPagination a.paginate_active {
            background: none repeat scroll 0 0 #EFEFEF;
        }

.login_text {
    height: 35px;
    width: 100%;
    line-height: 35px;
    border: 1px solid #cccccc;
    border-radius: 2px;
    box-sizing: border-box;
    box-shadow: 0 1px 0 #ffffff;
    font-family: Droid Sans;
    color: #696969;
    font-size: 20px;
    text-shadow: 0 1px 0 #FFFFFF;
    margin-top: 10%;
}

.btn_login, .btn_reset {
    margin-top: 5%;
    height: 35px;
    line-height: 0px;
    width: 100%;
    background: linear-gradient(to bottom, #fcfcfc 0%,#f2f2f2 100%);
    border: 1px solid #CBCBCB;
    border-radius: 3px;
    font-family: Oswald;
    color: #8f8f8f;
    font-size: 16px;
    text-shadow: 0 1px 0 #FFFFFF;
    box-shadow: 0 2px 3px #EAEAEA;
    text-transform: uppercase;
}

#forget {
    font-family: Oswald;
    font-size: 16px;
    text-transform: uppercase;
}

    #forget > a {
        cursor: pointer;
        color: #8f8f8f;
        outline: none;
    }

#message {
    color: red;
}

#page_title {
    font-family: Oswald;
    color: #9D9D9D;
    font-size: 20px;
    font-weight: bold;
    text-shadow: 0 1px 0 #FFFFFF;
    text-transform: uppercase;
}

div.bwIcon {
    display: inline-block;
    padding-left: 30px;
    background-position: 4px 2px;
}

.i_16_search {
    background: url("/Image/Icons/search.png") no-repeat scroll transparent;
}

.i_16_data {
    background: url("/Image/Icons/i_16_data.png") no-repeat scroll transparent;
}

.simple_buttons div {
    padding: 0 15px;
    display: inline-block;
    float: left;
}

.widget_contents.noPadding {
    padding: 0;
    overflow: hidden;
}

.widget_contents, .dialog {
    background-color: #FDFDFD;
    border: 1px solid #C9C9C9;
    border-radius: 0 0 3px 3px;
    box-shadow: inset 0 1px 0 #ffffff;
    padding: 15px;
}

.tables {
    width: 100%;
}

    .tables th, .tables td {
        border: 1px solid #E0E0E0;
        padding: 4px 15px;
    }

    .tables thead tr {
        box-shadow: 0 1px 3px #E6E6E6;
    }

    .tables thead th {
        border-top: 0;
    }

    .tables tfoot th {
        border-bottom: 0;
    }

    .tables th {
        text-align: center;
        font-family: Oswald;
        color: #9D9D9D;
        font-size: 13px;
        text-shadow: 0 1px 0 #FFFFFF;
        font-weight: normal;
        line-height: 25px;
        background: #fefefe; /* Old browsers */
        background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZlZmVmZSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNmMmYyZjIiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
        background: -moz-linear-gradient(top, #fefefe 0%, #f2f2f2 100%); /* FF3.6+ */
        background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fefefe), color-stop(100%,#f2f2f2)); /* Chrome,Safari4+ */
        background: -webkit-linear-gradient(top, #fefefe 0%,#f2f2f2 100%); /* Chrome10+,Safari5.1+ */
        background: -o-linear-gradient(top, #fefefe 0%,#f2f2f2 100%); /* Opera 11.10+ */
        background: -ms-linear-gradient(top, #fefefe 0%,#f2f2f2 100%); /* IE10+ */
        background: linear-gradient(to bottom, #fefefe 0%,#f2f2f2 100%); /* W3C */
        -webkit-box-shadow: 0 1px 0 #FFFFFF inset;
        box-shadow: 0 1px 0 #FFFFFF inset;
        border-bottom-color: #dadada;
    }

    .tables td {
        text-align: center;
        font-family: Droid Sans;
        color: #696969;
        font-size: 14px;
        text-shadow: 0 1px 0 #FFFFFF;
        font-weight: normal;
        line-height: 32px;
    }

table tbody tr:nth-child(2n) {
    background-color: #F9F9F9;
    box-shadow: 0 1px 0 #FFFFFF inset;
}

.category_back {
    width: 84px;
    height: 84px;
    position: absolute;
    top: 1px;
    left: 1px;
    background: #f2f1f1;
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJod…EiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
    background: -moz-linear-gradient(top, #f2f1f1 0%, #fdfdfd 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f2f1f1), color-stop(100%,#fdfdfd));
    background: -webkit-linear-gradient(top, #f2f1f1 0%,#fdfdfd 100%);
    background: -o-linear-gradient(top, #f2f1f1 0%,#fdfdfd 100%);
    background: -ms-linear-gradient(top, #f2f1f1 0%,#fdfdfd 100%);
    background: linear-gradient(to bottom, #f2f1f1 0%,#fdfdfd 100%);
    border-radius: 42px;
}

.category_view {
    padding: 0;
    margin: 0;
    list-style: none;
    list-style-image: none;
}

    .category_view > li {
        margin-left: 53px;
        display: inline-block;
    }

.in_border_c > p {
    margin-top: 92%;
    color: orange;
}

.i_clip {
    background: url("/Image/Category/clip.png") no-repeat scroll transparent;
}

.i_envelope {
    background: url("/Image/Category/envelope.png") no-repeat scroll transparent;
}

.i_eraser {
    background: url("/Image/Category/eraser.png") no-repeat scroll transparent;
}

.i_exercise {
    background: url("/Image/Category/exercise.png") no-repeat scroll transparent;
}

.i_file {
    background: url("/Image/Category/file.png") no-repeat scroll transparent;
}

.i_pad {
    background: url("/Image/Category/pad.png") no-repeat scroll transparent;
}

.i_paper {
    background: url("/Image/Category/paper.png") no-repeat scroll transparent;
}

.i_pen {
    background: url("/Image/Category/pen.png") no-repeat scroll transparent;
}

.i_pencil {
    background: url("/Image/Category/pencil.png") no-repeat scroll transparent;
}

.i_puncher {
    background: url("/Image/Category/puncher.png") no-repeat scroll transparent;
}

.i_ruler {
    background: url("/Image/Category/ruler.png") no-repeat scroll transparent;
}

.i_scissors {
    background: url("/Image/Category/scissors.png") no-repeat scroll transparent;
}

.i_sharpener {
    background: url("/Image/Category/sharpener.png") no-repeat scroll transparent;
}

.i_shorthand {
    background: url("/Image/Category/shorthand.png") no-repeat scroll transparent;
}

.i_stapler {
    background: url("/Image/Category/stapler.png") no-repeat scroll transparent;
}

.i_tacks {
    background: url("/Image/Category/tacks.png") no-repeat scroll transparent;
}

.i_tape {
    background: url("/Image/Category/tape.png") no-repeat scroll transparent;
}

.i_tparency {
    background: url("/Image/Category/tparency.png") no-repeat scroll transparent;
}

.i_tray {
    background: url("/Image/Category/tray.png") no-repeat scroll transparent;
}

.i_edit {
    background: url("/Image/Icons/edit.png") no-repeat scroll transparent;
}

.i_16_forms {
    background: url("/Image/Icons/i_16_forms.png") no-repeat scroll transparent;
}

td > span {
    cursor: pointer;
    margin-left: -1%;
    margin-top: -1%;
    width: 20px;
    height: 20px;
    position: absolute;
}

button, input[type="button"], input[type="reset"], input[type="submit"] {
    cursor: pointer;
    -webkit-appearance: button;
}

.submitIt {
    padding: 0 20px;
}

.simple_field, .filename {
    display: inline-block;
    height: 28px;
    line-height: 28px;
    padding: 0 8px;
    border: 1px solid #cccccc;
    border-radius: 2px;
    -webkit-box-shadow: 0 1px 0 #ffffff;
    box-shadow: 0 1px 0 #ffffff;
    background-color: #ffffff;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
}

.simple_field, .filename {
    font-family: Droid Sans;
    color: #696969;
    font-size: 14px;
    text-shadow: 0 1px 0 #FFFFFF;
}

.selector {
    position: relative;
    box-shadow: 0 1px 3px #EEEEEE;
    margin-right: 12px;
}

    .selector span {
        display: block;
        padding: 0 40px 0 15px;
        background: url("/Image/Icons/i_16_selector.png") no-repeat right center transparent;
    }
